@tailwind base;
@tailwind components;
@tailwind utilities;

.shadowing {
  filter: blur(18px);
  border-radius: 1.5rem;
  margin: 0 auto;
  margin-top: -0.3rem;
  z-index: 5;

  height: 40%;
  background: gray;
}

button {
  height: 48px;
  width: 160px;
}

.products:nth-of-type(even) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 1024px) {
  .products:nth-of-type(even) {
    flex-direction: column;
  }
}
input {
  outline: none;
  caret-color: #d87d4a;
  height: 56px;
  border: 1px solid #cfcfcf;
  border-radius: 0.5rem;
  padding: 16px;
}
input:hover {
  border: solid 1px #d87d4a;
}
input::placeholder {
  font-size: 14px;
  font-weight: bold;
}
.input-error {
  border: 2px solid #cd2c2c;
}

.radio_input {
  display: none;
}
.radio_radio {
  transform: scale(0);
}

input:checked + div .radio_radio {
  transform: scale(1);
}
